// Define variables for your color scheme

// original bootstrap:
$gray: #000000;
$light-gray: #F4F4F4;
// $red: #EE5F5B;
// $blue: #469AE0;
// $yellow: #FDB631;
// $orange: #E67E22;
// $green: #32B796;

// adapted colors:
$red: #BA2C73;
$yellow: #FDB631;
$purple: #420039;
$green: #70A9A1;
$orange: #E67E22;

