.filter-bar {
  margin-top: 40px;
}

.form-fields {
  margin-top: 15px;
  margin-bottom: 10px;
}

a.animated-button {
  border: 2px solid #D24D57;
}
a.animated-button:after {
  background: #D24D57;
  opacity: .5;
  -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button:hover:after {
  opacity: 1;
  height: 600% !important;
}

.banner-space-img {
  height: 60vh;
  position: relative;
}

.banner-lower-left {
  position: absolute;
  bottom: 25px;
  left: 30px;
}

.background-space-info {
  background-color: #FFFFF8;
  margin-top: 30px;
  padding: 10px 30px 20px 30px;
}

.container.space-card-container {
  width: 95%;
}

.space-card {
  margin: 0 10px 10px 10px;
}

.space-card-image {
  width: 100%;
  height: 320px;
  background-size: cover !important;
  background-position: center;
}

.space-card-content {

}

.space-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.space-card-link:hover {
  opacity: 0;
}
