.filter-bar {
  margin-top: 40px;
}

.form-fields {
  margin-top: 15px;
  margin-bottom: 10px;
}

a.animated-button {
  border: 2px solid #D24D57;
}
a.animated-button:after {
  background: #D24D57;
  opacity: .5;
  -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button:hover:after {
  opacity: 1;
  height: 600% !important;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 800px;
}

.element1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.element2 {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}
